openapi: 3.2.0
info:
  contact:
    email: support@constructor.io
  title: Configuration Searchabilities API
  version: '0.1'
servers:
- url: https://ac.cnstrc.com
security: []
tags:
- name: Searchabilities
paths:
  /v1/searchabilities:
    get:
      deprecated: true
      tags:
      - Searchabilities
      operationId: v1-searchabilities-retrieve-searchabilities
      summary: Retrieve searchabilities (Deprecated)
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(r)`.


        Retrieve all searchabilities.'
      parameters:
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: filters
        in: query
        schema:
          title: Filters
          description: Criteria to narrow the result set by. Different filters from this parameter are `ANDed` together.
          examples:
          - name: brand
            fuzzy_searchable: true
          allOf:
          - $ref: '#/components/schemas/SearchabilityFilters'
        required: false
        style: deepObject
        explode: true
      - name: num_results_per_page
        in: query
        schema:
          title: Num Results Per Page
          description: The number of results per page to return.
          default: 20
          minimum: 1
          maximum: 1000
          examples:
          - 20
          - 100
          type: integer
        required: false
      - name: page
        in: query
        schema:
          title: Page
          description: The page of results to return.
          minimum: 1
          examples:
          - 1
          - 2
          type: integer
        required: false
      - name: offset
        in: query
        schema:
          title: Offset
          description: The number of results to skip from the beginning. Cannot be used together with `page`.
          minimum: 0
          examples:
          - 0
          - 100
          type: integer
        required: false
      - name: sort_by
        in: query
        schema:
          title: Sort By
          description: The criteria by which searchability configurations should be sorted.
          examples:
          - name
          - percentage_presence
          enum:
          - name
          - percentage_presence
          type: string
        required: false
      - name: sort_order
        in: query
        schema:
          description: The sort order by which searchability configurations should be sorted. Only valid when used in conjunction with `sort_by`.
          default: ascending
          examples:
          - ascending
          - descending
          allOf:
          - $ref: '#/components/schemas/SortOrderType'
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      - name: excludes
        in: query
        schema:
          title: Excludes
          description: Criteria to narrow the result set by. Different filters from this parameter are `ORed` together, and results matching them are excluded
          examples:
          - fuzzy_searchable: false
          allOf:
          - $ref: '#/components/schemas/SearchabilityFilters'
        required: false
        style: deepObject
        explode: true
      - name: includes
        in: query
        schema:
          title: Includes
          description: Criteria to narrow the result set by. Different filters from this parameter are `ORed` together.
          examples:
          - displayable: true
          allOf:
          - $ref: '#/components/schemas/SearchabilityFilters'
        required: false
        style: deepObject
        explode: true
      - name: search_configurable
        in: query
        schema:
          title: Search Configurable
          description: Filter only configurable searchabilities.
          examples:
          - true
          - false
          type: boolean
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityListGetResponse'
        '400':
          description: Validation Error
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(r)
    patch:
      deprecated: true
      tags:
      - Searchabilities
      operationId: v1-searchabilities-create-or-update-searchabilities
      summary: Create or update searchabilities (Deprecated)
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(w)`.


        Create or update searchabilities.'
      parameters:
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      - name: skip_rebuild
        in: query
        schema:
          title: Skip Rebuild
          description: Skip index rebuild.
          default: false
          examples:
          - false
          - true
          type: boolean
        required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchabilityListPatchRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityListPatchResponse'
        '400':
          description: Validation Error
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(w)
    delete:
      deprecated: true
      tags:
      - Searchabilities
      operationId: v1-searchabilities-delete-searchabilities
      summary: Delete searchabilities (Deprecated)
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(w)`.


        Delete searchabilities.'
      parameters:
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      - name: skip_rebuild
        in: query
        schema:
          title: Skip Rebuild
          description: Skip index rebuild.
          default: false
          examples:
          - false
          - true
          type: boolean
        required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchabilityListDeleteRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityListDeleteResponse'
        '400':
          description: Validation Error
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '404':
          description: Not Found
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(w)
  /v1/searchabilities/{name}:
    get:
      deprecated: true
      tags:
      - Searchabilities
      operationId: v1-searchabilities-retrieve-searchability
      summary: Retrieve searchability (Deprecated)
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(r)`.


        Retrieve searchability with specified `name`.'
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityGetResponse'
        '400':
          description: Validation Error
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '404':
          description: Not Found
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(r)
    patch:
      deprecated: true
      tags:
      - Searchabilities
      operationId: v1-searchabilities-create-or-update-searchability
      summary: Create or update searchability (Deprecated)
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(w)`.


        Create or update searchability with specified `name`.'
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      - name: skip_rebuild
        in: query
        schema:
          title: Skip Rebuild
          description: Skip index rebuild.
          default: false
          examples:
          - false
          - true
          type: boolean
        required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchabilityPatchRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityPatchResponse'
        '400':
          description: Validation Error
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(w)
    delete:
      deprecated: true
      tags:
      - Searchabilities
      operationId: v1-searchabilities-delete-searchability
      summary: Delete searchability (Deprecated)
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(w)`.


        Delete searchability with specified `name`.'
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      - name: skip_rebuild
        in: query
        schema:
          title: Skip Rebuild
          description: Skip index rebuild.
          default: false
          examples:
          - false
          - true
          type: boolean
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityDeleteResponse'
        '400':
          description: Validation Error
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '404':
          description: Not Found
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(w)
  /v2/searchabilities:
    get:
      tags:
      - Searchabilities
      operationId: v2-searchabilities-retrieve-searchabilities
      summary: Retrieve searchabilities
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(r)`.


        Retrieve all searchabilities.'
      parameters:
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: num_results_per_page
        in: query
        schema:
          title: Num Results Per Page
          description: The number of results per page to return.
          default: 20
          minimum: 1
          maximum: 1000
          examples:
          - 20
          - 100
          type: integer
        required: false
      - name: page
        in: query
        schema:
          title: Page
          description: The page of results to return.
          minimum: 1
          examples:
          - 1
          - 2
          type: integer
        required: false
      - name: offset
        in: query
        schema:
          title: Offset
          description: The number of results to skip from the beginning. Cannot be used together with `page`.
          minimum: 0
          examples:
          - 0
          - 100
          type: integer
        required: false
      - name: sort_by
        in: query
        schema:
          title: Sort By
          description: The criteria by which searchability configurations should be sorted.
          examples:
          - name
          enum:
          - name
          type: string
        required: false
      - name: sort_order
        in: query
        schema:
          description: The sort order by which searchability configurations should be sorted. Only valid when used in conjunction with `sort_by`.
          default: ascending
          examples:
          - ascending
          - descending
          allOf:
          - $ref: '#/components/schemas/SortOrderType'
        required: false
      - name: match_type
        in: query
        schema:
          description: Specified whether filters should be ANDed or ORed.
          default: and
          examples:
          - and
          - or
          allOf:
          - $ref: '#/components/schemas/MatchTypeV2'
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      - name: exact_searchable
        in: query
        schema:
          title: Exact Searchable
          description: Specifies whether the searchability is exact_searchable.
          examples:
          - false
          - true
          type: boolean
        required: false
      - name: fuzzy_searchable
        in: query
        schema:
          title: Fuzzy Searchable
          description: Specifies whether the searchability is fuzzy_searchable.
          examples:
          - true
          - false
          type: boolean
        required: false
      - name: displayable
        in: query
        schema:
          title: Displayable
          description: Specifies whether the field is displayable.
          examples:
          - true
          - false
          type: boolean
        required: false
      - name: name
        in: query
        schema:
          title: Name
          description: Name of searchability field to filter for. Supports exact matching (name=value) and substring matching (name=`*value`, `value*` or `*value*`).
          maxLength: 300
          examples:
          - brand
          - '*color*'
          type: string
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityListV2GetResponse'
        '400':
          description: Validation Error
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '404':
          description: Not Found
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(r)
    patch:
      tags:
      - Searchabilities
      operationId: v2-searchabilities-create-or-update-searchabilities
      summary: Create or update searchabilities
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(w)`.


        Create or update searchabilities.'
      parameters:
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      - name: skip_rebuild
        in: query
        schema:
          title: Skip Rebuild
          description: Skip index rebuild.
          default: false
          examples:
          - false
          - true
          type: boolean
        required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchabilityListV2PatchRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityListV2PatchResponse'
        '400':
          description: Bad Request
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '404':
          description: Not Found
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(w)
    delete:
      tags:
      - Searchabilities
      operationId: v2-searchabilities-delete-searchabilities
      summary: Delete searchabilities
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(w)`.


        Delete searchabilities.'
      parameters:
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      - name: skip_rebuild
        in: query
        schema:
          title: Skip Rebuild
          description: Skip index rebuild.
          default: false
          examples:
          - false
          - true
          type: boolean
        required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchabilityListV2DeleteRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityListV2DeleteResponse'
        '400':
          description: Validation Error
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '404':
          description: Not Found
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(w)
  /v2/searchabilities/{name}:
    get:
      tags:
      - Searchabilities
      operationId: v2-searchabilities-retrieve-searchability
      summary: Retrieve searchability
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(r)`.


        Retrieve searchability with specified `name`.'
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityV2GetResponse'
        '400':
          description: Validation Error
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '404':
          description: Not Found
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(r)
    patch:
      tags:
      - Searchabilities
      operationId: v2-searchabilities-create-or-update-searchability
      summary: Create or update searchability
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(w)`.


        Create or update searchability with specified `name`.'
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      - name: skip_rebuild
        in: query
        schema:
          title: Skip Rebuild
          description: Skip index rebuild.
          default: false
          examples:
          - false
          - true
          type: boolean
        required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchabilityV2PatchRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityV2PatchResponse'
        '400':
          description: Bad Request
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(w)
    delete:
      tags:
      - Searchabilities
      operationId: v2-searchabilities-delete-searchability
      summary: Delete searchability
      description: '**🔐 This endpoint requires [HTTP authentication](https://docs.constructor.com/reference/main-authentication) (either [Basic](https://docs.constructor.com/reference/main-authentication#basic-authentication) or [Bearer](https://docs.constructor.com/reference/main-authentication#bearer-authentication)).**

        For authenticating with Bearer token, required scopes are: `searchabilities(w)`.


        Delete searchability with specified `name`.'
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: query
        schema:
          title: Key
          description: The key of the index to use.
          maxLength: 100
          minLength: 1
          examples:
          - key_K2pX7vBnU0bgA5xp
          type: string
        required: true
      - name: section
        in: query
        schema:
          title: Section
          description: The section of the index to use. Defaults to `Products`.
          maxLength: 100
          minLength: 1
          examples:
          - Products
          - Search Suggestions
          type: string
        required: false
      - name: c
        in: query
        schema:
          title: C
          description: The ID of the client and version that the request is coming from, such as `cio-js-2.90`.
          maxLength: 100
          minLength: 1
          examples:
          - cio-js-2.90
          - cio-ios-1.0
          type: string
        required: false
      - name: skip_rebuild
        in: query
        schema:
          title: Skip Rebuild
          description: Skip index rebuild.
          default: false
          examples:
          - false
          - true
          type: boolean
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchabilityV2DeleteResponse'
        '400':
          description: Validation Error
        '401':
          description: Credentials are not passed or action is forbidden.
        '403':
          description: The supplied token does not have the required permissions.
        '404':
          description: Not Found
        '429':
          description: Rate limit breached
      security:
      - http_basic_auth: []
      - http_bearer_auth:
        - searchabilities(w)
components:
  schemas:
    MetadataSearchabilityType:
      title: MetadataSearchabilityType
      enum:
      - number
      - string
      - array
      - object
      - boolean
      - mixed
      type: string
    SearchabilityListGetResponse:
      title: SearchabilityListGetResponse
      type: object
      properties:
        searchabilities:
          title: Searchabilities
          description: A list of facet searchabilities configurations.
          type: array
          items:
            $ref: '#/components/schemas/SearchabilityResponse'
        total_count:
          title: Total Count
          description: Number of searchabilities.
          minimum: 0
          type: integer
      required:
      - searchabilities
      - total_count
      additionalProperties: false
    SearchabilityListV2DeleteRequestBody:
      title: SearchabilityListV2DeleteRequestBody
      type: object
      properties:
        searchabilities:
          title: Searchabilities
          description: A list of facet searchabilities configurations names to delete.
          minItems: 1
          maxItems: 60
          type: array
          items:
            $ref: '#/components/schemas/SearchabilityNameRequestV2'
      required:
      - searchabilities
      additionalProperties: false
    SearchabilityResponseV2:
      title: SearchabilityResponseV2
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          type: string
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          type: boolean
        created_at:
          title: Created At
          description: Creation date and time
          type: string
          format: date-time
        updated_at:
          title: Updated At
          description: Last updated date and time
          type: string
          format: date-time
      required:
      - name
      - fuzzy_searchable
      - exact_searchable
      - displayable
      - hidden
      - created_at
      additionalProperties: false
    SearchabilityV2GetResponse:
      title: SearchabilityV2GetResponse
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          type: string
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          type: boolean
        created_at:
          title: Created At
          description: Creation date and time
          type: string
          format: date-time
        updated_at:
          title: Updated At
          description: Last updated date and time
          type: string
          format: date-time
      required:
      - name
      - fuzzy_searchable
      - exact_searchable
      - displayable
      - hidden
      - created_at
      additionalProperties: false
    SearchabilityV2PatchResponse:
      title: SearchabilityV2PatchResponse
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          type: string
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          type: boolean
        created_at:
          title: Created At
          description: Creation date and time
          type: string
          format: date-time
        updated_at:
          title: Updated At
          description: Last updated date and time
          type: string
          format: date-time
      required:
      - name
      - fuzzy_searchable
      - exact_searchable
      - displayable
      - hidden
      - created_at
      additionalProperties: false
    SearchabilityListV2DeleteResponse:
      title: SearchabilityListV2DeleteResponse
      type: object
      properties:
        searchabilities:
          title: Searchabilities
          description: A list of facet searchabilities configurations.
          type: array
          items:
            $ref: '#/components/schemas/SearchabilityResponseV2'
        total_count:
          title: Total Count
          description: Number of searchabilities.
          minimum: 0
          type: integer
      required:
      - searchabilities
      - total_count
      additionalProperties: false
    SearchabilityListPatchResponse:
      title: SearchabilityListPatchResponse
      type: object
      properties:
        searchabilities:
          title: Searchabilities
          description: A list of facet searchabilities configurations.
          type: array
          items:
            $ref: '#/components/schemas/SearchabilityResponse'
        total_count:
          title: Total Count
          description: Number of searchabilities.
          minimum: 0
          type: integer
      required:
      - searchabilities
      - total_count
      additionalProperties: false
    SearchabilityListV2GetResponse:
      title: SearchabilityListV2GetResponse
      type: object
      properties:
        searchabilities:
          title: Searchabilities
          description: A list of facet searchabilities configurations.
          type: array
          items:
            $ref: '#/components/schemas/SearchabilityResponseV2'
        total_count:
          title: Total Count
          description: Number of searchabilities.
          minimum: 0
          type: integer
      required:
      - searchabilities
      - total_count
      additionalProperties: false
    SearchabilityListDeleteRequestBody:
      title: SearchabilityListDeleteRequestBody
      type: object
      properties:
        searchabilities:
          title: Searchabilities
          description: A list of facet searchabilities configurations names to delete.
          minItems: 1
          maxItems: 60
          type: array
          items:
            $ref: '#/components/schemas/SearchabilityNameRequest'
      required:
      - searchabilities
      additionalProperties: false
    SearchabilityListDeleteResponse:
      title: SearchabilityListDeleteResponse
      type: object
      properties:
        searchabilities:
          title: Searchabilities
          description: A list of facet searchabilities configurations.
          type: array
          items:
            $ref: '#/components/schemas/SearchabilityResponse'
        total_count:
          title: Total Count
          description: Number of searchabilities.
          minimum: 0
          type: integer
      required:
      - searchabilities
      - total_count
      additionalProperties: false
    SearchabilityWithNameRequestV2:
      title: SearchabilityWithNameRequestV2
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          examples:
          - brand
          - color
          - price
          type: string
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          examples:
          - true
          - false
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          examples:
          - false
          - true
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array. On create, omitted value inherits from the nearest (deepest) configured parent. To learn more about displayability inheritance, please visit [this guide](/docs/using-the-constructor-dashboard-indexes-manage-searchability-and-displayability#inherited-displayability-configurations)
          examples:
          - true
          - false
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          examples:
          - false
          - true
          type: boolean
      required:
      - name
      additionalProperties: false
    SearchabilityNameRequestV2:
      title: SearchabilityNameRequestV2
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          examples:
          - brand
          - color
          - price
          type: string
      required:
      - name
      additionalProperties: false
    SearchabilityPatchResponse:
      title: SearchabilityPatchResponse
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          type: string
        percentage_presence:
          title: Percentage presence
          description: Percentage of items and variations that contain this field.
          minimum: 0
          maximum: 100
          type: number
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          type: boolean
        facetable:
          title: Facetable
          description: Specifies whether the field should be treated as a facet. When True, the metadata field must be a string, float, integer, or list of these types. Dictionaries are supported if they contain values of these types. Nested dictionaries are not supported
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          type: boolean
        type:
          title: Type
          allOf:
          - $ref: '#/components/schemas/MetadataSearchabilityType'
        example_items:
          title: Example Items
          description: A list of items that has this searchability field.
          type: array
          items:
            type: string
        default:
          title: Default
          description: Flag that shows if this searchability config is default.
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          type: boolean
        created_at:
          title: Created At
          description: Creation date and time
          type: string
          format: date-time
        updated_at:
          title: Updated At
          description: Last updated date and time
          type: string
          format: date-time
      required:
      - name
      - fuzzy_searchable
      - facetable
      - exact_searchable
      - default
      - displayable
      - hidden
      - created_at
      additionalProperties: false
    SearchabilityDeleteResponse:
      title: SearchabilityDeleteResponse
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          type: string
        percentage_presence:
          title: Percentage presence
          description: Percentage of items and variations that contain this field.
          minimum: 0
          maximum: 100
          type: number
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          type: boolean
        facetable:
          title: Facetable
          description: Specifies whether the field should be treated as a facet. When True, the metadata field must be a string, float, integer, or list of these types. Dictionaries are supported if they contain values of these types. Nested dictionaries are not supported
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          type: boolean
        type:
          title: Type
          allOf:
          - $ref: '#/components/schemas/MetadataSearchabilityType'
        example_items:
          title: Example Items
          description: A list of items that has this searchability field.
          type: array
          items:
            type: string
        default:
          title: Default
          description: Flag that shows if this searchability config is default.
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          type: boolean
        created_at:
          title: Created At
          description: Creation date and time
          type: string
          format: date-time
        updated_at:
          title: Updated At
          description: Last updated date and time
          type: string
          format: date-time
      required:
      - name
      - fuzzy_searchable
      - facetable
      - exact_searchable
      - default
      - displayable
      - hidden
      - created_at
      additionalProperties: false
    SearchabilityListPatchRequestBody:
      title: SearchabilityListPatchRequestBody
      type: object
      properties:
        searchabilities:
          title: Searchabilities
          description: A list of facet searchabilities configurations for create or update.
          minItems: 1
          maxItems: 60
          type: array
          items:
            $ref: '#/components/schemas/SearchabilityWithNameRequest'
            examples:
            - - name: brand
                fuzzy_searchable: true
                displayable: true
              - name: color
                facetable: true
                displayable: true
      required:
      - searchabilities
      additionalProperties: false
    SearchabilityPatchRequestBody:
      title: SearchabilityPatchRequestBody
      type: object
      properties:
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          examples:
          - true
          - false
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          examples:
          - false
          - true
          type: boolean
        facetable:
          title: Facetable
          description: Specifies whether the field should be treated as a facet. When True, the metadata field must be a string, float, integer, or list of these types. Dictionaries are supported if they contain values of these types. Nested dictionaries are not supported
          examples:
          - true
          - false
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          examples:
          - true
          - false
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          examples:
          - false
          - true
          type: boolean
      additionalProperties: false
    SearchabilityResponse:
      title: SearchabilityResponse
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          type: string
        percentage_presence:
          title: Percentage presence
          description: Percentage of items and variations that contain this field.
          minimum: 0
          maximum: 100
          type: number
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          type: boolean
        facetable:
          title: Facetable
          description: Specifies whether the field should be treated as a facet. When True, the metadata field must be a string, float, integer, or list of these types. Dictionaries are supported if they contain values of these types. Nested dictionaries are not supported
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          type: boolean
        type:
          title: Type
          allOf:
          - $ref: '#/components/schemas/MetadataSearchabilityType'
        example_items:
          title: Example Items
          description: A list of items that has this searchability field.
          type: array
          items:
            type: string
        default:
          title: Default
          description: Flag that shows if this searchability config is default.
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          type: boolean
        created_at:
          title: Created At
          description: Creation date and time
          type: string
          format: date-time
        updated_at:
          title: Updated At
          description: Last updated date and time
          type: string
          format: date-time
      required:
      - name
      - fuzzy_searchable
      - facetable
      - exact_searchable
      - default
      - displayable
      - hidden
      - created_at
      additionalProperties: false
    SearchabilityListV2PatchResponse:
      title: SearchabilityListV2PatchResponse
      type: object
      properties:
        searchabilities:
          title: Searchabilities
          description: A list of facet searchabilities configurations.
          type: array
          items:
            $ref: '#/components/schemas/SearchabilityResponseV2'
        total_count:
          title: Total Count
          description: Number of searchabilities.
          minimum: 0
          type: integer
      required:
      - searchabilities
      - total_count
      additionalProperties: false
    SearchabilityListV2PatchRequestBody:
      title: SearchabilityListV2PatchRequestBody
      type: object
      properties:
        searchabilities:
          title: Searchabilities
          description: A list of facet searchabilities configurations for create or update.
          minItems: 1
          maxItems: 60
          type: array
          items:
            $ref: '#/components/schemas/SearchabilityWithNameRequestV2'
            examples:
            - - name: brand
                fuzzy_searchable: true
                displayable: true
              - name: color
                displayable: true
      required:
      - searchabilities
      additionalProperties: false
    SearchabilityV2DeleteResponse:
      title: SearchabilityV2DeleteResponse
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          type: string
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          type: boolean
        created_at:
          title: Created At
          description: Creation date and time
          type: string
          format: date-time
        updated_at:
          title: Updated At
          description: Last updated date and time
          type: string
          format: date-time
      required:
      - name
      - fuzzy_searchable
      - exact_searchable
      - displayable
      - hidden
      - created_at
      additionalProperties: false
    SearchabilityV2PatchRequestBody:
      title: SearchabilityV2PatchRequestBody
      type: object
      properties:
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          examples:
          - true
          - false
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          examples:
          - false
          - true
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array. On create, omitted value inherits from the nearest (deepest) configured parent. To learn more about displayability inheritance, please visit [this guide](/docs/using-the-constructor-dashboard-indexes-manage-searchability-and-displayability#inherited-displayability-configurations)
          examples:
          - true
          - false
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          examples:
          - false
          - true
          type: boolean
      additionalProperties: false
    SortOrderType:
      title: SortOrderType
      enum:
      - ascending
      - descending
      type: string
    SearchabilityGetResponse:
      title: SearchabilityGetResponse
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          type: string
        percentage_presence:
          title: Percentage presence
          description: Percentage of items and variations that contain this field.
          minimum: 0
          maximum: 100
          type: number
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          type: boolean
        facetable:
          title: Facetable
          description: Specifies whether the field should be treated as a facet. When True, the metadata field must be a string, float, integer, or list of these types. Dictionaries are supported if they contain values of these types. Nested dictionaries are not supported
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          type: boolean
        type:
          title: Type
          allOf:
          - $ref: '#/components/schemas/MetadataSearchabilityType'
        example_items:
          title: Example Items
          description: A list of items that has this searchability field.
          type: array
          items:
            type: string
        default:
          title: Default
          description: Flag that shows if this searchability config is default.
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          type: boolean
        created_at:
          title: Created At
          description: Creation date and time
          type: string
          format: date-time
        updated_at:
          title: Updated At
          description: Last updated date and time
          type: string
          format: date-time
      required:
      - name
      - fuzzy_searchable
      - facetable
      - exact_searchable
      - default
      - displayable
      - hidden
      - created_at
      additionalProperties: false
    SearchabilityFilters:
      title: SearchabilityFilters
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          examples:
          - brand
          - color
          type: string
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          examples:
          - true
          - false
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          examples:
          - false
          - true
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          examples:
          - true
          - false
          type: boolean
      additionalProperties: false
    SearchabilityNameRequest:
      title: SearchabilityNameRequest
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          examples:
          - brand
          - color
          - price
          type: string
      required:
      - name
      additionalProperties: false
    MatchTypeV2:
      title: MatchTypeV2
      enum:
      - and
      - or
    SearchabilityWithNameRequest:
      title: SearchabilityWithNameRequest
      type: object
      properties:
        name:
          title: Name
          description: Name of searchability field.
          maxLength: 300
          minLength: 1
          examples:
          - brand
          - color
          - price
          type: string
        fuzzy_searchable:
          title: Fuzzy Searchable
          description: Configure a field as fuzzy-searchable to enable typo-tolerant keyword-matching on field values in search and autocomplete. A field can be fuzzy-searchable or exact-searchable, but not both. Avoid marking very verbose fields (e.g. long descriptions) as fuzzy-searchable, since it can lead to recall of more items than is necessary and introduces complexity with ranking.
          examples:
          - true
          - false
          type: boolean
        exact_searchable:
          title: Exact Searchable
          description: Configure this field for ID or ID-like values (SKU ID, ISBN, part number, etc.) to enable exact matching only, with no typo-tolerance, for search and autocomplete. Do not use for fields containing natural language words. A field can be exact-searchable or fuzzy-searchable, but not both.
          examples:
          - false
          - true
          type: boolean
        facetable:
          title: Facetable
          description: Specifies whether the field should be treated as a facet. When True, the metadata field must be a string, float, integer, or list of these types. Dictionaries are supported if they contain values of these types. Nested dictionaries are not supported
          examples:
          - true
          - false
          type: boolean
        displayable:
          title: Displayable
          description: Specifies whether the field is displayable in the response within the `results` array.
          examples:
          - true
          - false
          type: boolean
        hidden:
          title: Hidden
          description: Hides the field by default in the response but makes it available to retrieve via `fmt_options[hidden_fields]` parameter.
          examples:
          - false
          - true
          type: boolean
      required:
      - name
      additionalProperties: false
  securitySchemes:
    http_basic_auth:
      type: http
      scheme: basic
    http_bearer_auth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: false
